<div style="margin:30px;0px;30px;0px;">
  <form ng-submit="addCustomer()">
    <div>
      <lable>Customer Name:</lable>
      <input type="text" ng-model="customer.name" placeholder="Enter Customer Name">
    </div>
    <div>
      <lable>Customer Email:</lable>
      <input type="text" ng-model="customer.email" placeholder="Enter Customer Email">
    </div>
    <div>
      <lable>Customer Age:</lable>
      <input type="text" ng-model="customer.age" placeholder="Enter Customer Age">
    </div>
    <div>
      <input type="submit" value="AddCustomer"/>
    </div>
  </form>
  <p><a href="#/">Back</a></p>
</div>

