<div class="row">
  <div class="col-md-8">
    <h3 class="h3_title">Welcome to Show Customer Details</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-1">
    <label>Name</label>
  </div>
  <div class="col-md-7">
    {{customer.name}}
  </div>
</div>
<div class="row">
  <div class="col-md-1">
    <label>Email</label>
  </div>
  <div class="col-md-7">
    {{customer.email}}
  </div>
</div>
<div class="row">
  <div class="col-md-1">
    <label>Age</label>
  </div>
  <div class="col-md-7">
    {{customer.age}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <a href="#/" class="btn btn-primary">Go Back</a>
  </div>
</div>