body{
  padding-top:60px;
}

.h3_title{
  color: #808080;
}

.red {
  color: #d14 !important;
}

form[novalidate] input{
  border-left-width: 8px;
  border-color: #3498db;
  border-style:solid;
}

input[required].ng-dirty{
  border-color: #e74c3c;
}

form.submitted .ng-invalid{
  border-color: #e74c3c;
}


input.ng-valid.ng-dirty{
  border-color: #2ecc71;
}

